extend layout

block content
 
 p Logowanie do Panelu Administracyjnego

 div#login_panel
  form(method="POST", action="/index")
   label="Login"
    input(type="text", id="login" name="login")
   label="Hasło" 
    input(type="password", id="password" name="password")
   div#lower
    input(type="submit", value="Login")