
<% if (items.length) { %>
<ul>
<% for (var i = 0; i < items.length; i++) { %>
<li><%= items[i].idczynnosci %> - <em><%= items[i].opis %></li>
<% } %>
</ul>
<% } else { %>
<p>Brak wyników</p>
<% } %>

<form action="/create" method="POST">
<label>zadanie</label>

<input type="text" name="idklienta"></input>
<input type="text" name="idkierowcy"></input>
<input type="text" name="idkategori"></input>
<input type="text" name="data1"></input>
<input type="text" name="data2"></input>
<input type="text" name="data3"></input>
<input type="text" name="stan"></input>
<input type="text" name="opis"></input>
<button>Wyœlij</button>
</form>